

<div><
  <h1>Book detail</h1>
  
    <p>ユーザー画像</p>
    <p>ユーザーネーム</p>
    <p><%= link_to @book.title, book_path(@book.id) %></p>
    <p><%= @book.body %></p>
    
    <p>edit</p>
    
    <p>destroy</p>
  
</div>